@media (max-width:1000px) {

   #main-header{
    display: none;
   }

   body{
    width: 100%;
   }

   #first{
    ::after{
        display: none;
    }
   }

  #client{
    
        ::after{
            display: none;
        }
    
  }
   
}

@media (min-width:1000px){
    #cp-header{
        display: none;
    }
}