* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
  }
  
  a {
    text-decoration: none;
  }
  
  html {
    scroll-behavior: smooth;
  
  }
  
  h1 p i {
    margin-bottom: 0;
  }
  
