@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap");
@import "_media.scss";
@import "_normalize.scss";

#cp-header {
  a {
    width: 50%;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
  }
  .nav-icon {
    width: 50%;
    color: #fff;
    text-align: right;
    font-size: 24px;
  }
}
header {
  background-color: black;
  z-index: 2;
  padding: 3rem 0;
  .all {
    justify-content: center;
    align-items: center;

    .logo {
      width: 30%;
      padding: 2rem 0;

      a {
        h1 {
          font-size: 36px;
          font-weight: bold;
          color: white;
        }
      }
    }

    nav {
      text-align: right;
      width: 70%;

      a {
        margin-left: 2rem;
        font-size: 16px;
        color: white;
        font-weight: bold;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          background-color: #e9204f;
          height: 3px;
          width: 0px;
          bottom: -7px;
          left: 0;
          transition: 0.3s;
        }
        &:nth-child(1):after {
          content: "";
          position: absolute;
          background-color: #e9204f;
          height: 3px;
          width: 20px;
          bottom: -7px;
          left: 0;
        }

        &:not(:nth-child(1)):hover::after {
          width: 20px;
        }
      }

      i {
        margin-left: 2rem;
        color: white;
        font-size: 16px;
        cursor: pointer;
      }
    }
  }
}

#first {
  background-image: url(https://gentium.pixerex.com/wp-content/uploads/2019/01/hero_02.jpg);
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  background-size: cover;
  background-size: 640px auto;
  background-position: 70% 0;

  .all {
    padding-top: 10rem;

    h1 {
      font-size: 78px;
      font-weight: bold;
      color: white;
      margin-bottom: 70px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        background-color: #e9204f;
        height: 3px;
        width: 70px;
        left: 2px;
        top: -25%;
      }
    }

    a {
      border: 2px solid #e9204f;
      text-align: center;
      padding: 20px 40px;
      color: white;
      width: 200px;
      position: relative;
      z-index: 1;

      &::before {
        content: "";
        position: absolute;
        background-color: #e9204f;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        transition: transform 0.3s;
        transform: scaleX(0);
        transform-origin: 0 0;
        z-index: -1;
      }

      &:hover::before {
        transform: scaleX(1);
      }
    }
  }

  .first-all {
    z-index: 1;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-color: #e9204f;
      height: 60px;
      width: 442px;
      bottom: -18px;
      right: -14px;
      z-index: -1;
      transition: 0.5s;
    }

    &:hover::after {
      background-color: #b3183c;
    }

    &::before {
      content: "";
      position: absolute;
      background-color: #e9204f;
      height: 65px;
      width: 4px;
      bottom: -18px;
      right: 50%;
      z-index: -1;
      transition: 0.5s;
    }
    &:hover::before {
      background-color: #b3183c;
    }
  }

  .box-left {
    background-color: #e9204f;
    margin-top: 8rem;
    padding: 60px 40px;
    cursor: pointer;
    transition: 0.5s;

    h1 {
      font-size: 24px;
      font-weight: bold;
      color: white;
      margin-bottom: 2rem;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        background-color: white;
        width: 50px;
        height: 2px;
        bottom: -10px;
        left: 0;
      }
    }

    p {
      font-size: 17px;
      font-weight: lighter;
      color: white;
    }

    i {
      color: white;
      font-size: 30px;
      margin-bottom: 3rem;
      transition: 0.5s;
    }
  }

  .box-right {
    background-color: #1d1b1b;
    margin-top: 8rem;
    padding: 60px 30px;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      background-color: #e9204f;
    }

    &:hover i {
      color: #fff;
    }

    h1 {
      font-size: 24px;
      font-weight: bold;
      color: white;
      margin-bottom: 2rem;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        background-color: white;
        width: 50px;
        height: 2px;
        bottom: -10px;
        left: 0;
      }
    }

    p {
      font-size: 17px;
      font-weight: lighter;
      color: white;
    }

    i {
      color: #e9204f;
      font-size: 30px;
      margin-bottom: 3rem;
      transition: 0.5s;
    }
  }

  .box-middle {
    background-color: #1d1b1b;
    margin-top: 8rem;
    padding: 60px 30px;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      background-color: #e9204f;
    }

    &:hover i {
      color: #fff;
    }

    h1 {
      font-size: 24px;
      font-weight: bold;
      color: white;
      margin-bottom: 2rem;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        background-color: white;
        width: 50px;
        height: 2px;
        bottom: -10px;
        left: 0;
      }
    }

    p {
      font-size: 17px;
      font-weight: lighter;
      color: white;
    }

    i {
      color: #e9204f;
      font-size: 30px;
      margin-bottom: 3rem;
      transition: 0.5s;
    }
  }
}

#service {
  .service-all {
    padding: 140px 0;
  }
  .service-top {
    h1 {
      font-size: 48px;
      font-weight: bold;
      color: #1b1b1b;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 30px;
        background-color: #e9204f;
        left: 0;
        top: -50px;
      }
    }

    p {
      font-size: 18px;
      color: #e9204f;
      margin-bottom: 3rem;
    }
  }

  .service-bottom {
    position: relative;
    h1 {
      font-size: 19px;
      font-weight: bold;
      color: #000;
    }

    &::after {
      content: "";
      position: absolute;
      height: 50px;
      width: 2px;
      background-color: #e9204f;
      left: 50%;
      bottom: -140px;
    }

    .box {
      padding: 40px 80px;
      background-color: #f3f3f3;
      margin-top: 25px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #000;
      position: relative;
      cursor: pointer;
      transition: 0.5s;

      i {
        transition: 0.3s;
      }

      &:hover {
        background-color: #e9204f;
      }

      &:hover #box-icon {
        display: inline;
        transform: scale(1.4);
        opacity: 1;
      }

      &:hover h1 {
        transform: translateX(40px);
      }

      &:hover i {
        transform: translateX(20px);
      }

      h1 {
        margin-bottom: 0;
        transition: 0.3s;
      }
      #box-icon {
        position: absolute;
        font-size: 60px;
        color: rgba(255, 255, 255, 0.342);
        opacity: 0;
        left: 2px;
        transition: 1s;
        transform: scale(0.7);
      }
    }
  }
}

#work {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .left {
    h1 {
      color: #1b1b1b;
      font-weight: bold;
      font-size: 48px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 30px;
        background-color: #e9204f;
        top: -50px;
        left: 0;
      }
    }

    p {
      font-size: 18px;
      color: #e9204f;
      margin: 20px 0;
    }
  }

  .work-all .left {
    width: 50%;
  }

  .right {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    a {
      font-weight: bold;
      color: #1b1b1b;
      font-size: 14px;
      border: 2px solid #e9204f;
      padding: 15px 40px;
      cursor: pointer;
      position: relative;
      transition: 0.5s;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #e9204f;
        left: 0;
        bottom: 0;
        transform: scaleX(0);
        transition: 0.3s;
        transform-origin: 0%;
      }

      &:hover::after {
        z-index: -1;
        transform: scaleX(1);
      }

      &:hover {
        color: #fff;
      }
    }
  }

  .work-bottom {
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 6rem 0;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      height: 50px;
      width: 2px;
      background-color: #e9204f;
      left: 50%;
      bottom: -140px;
    }

    .box {
      overflow: hidden;
      width: 100%;
      height: 500px;
      display: flex;
      align-items: center;
      position: relative;

      .ovarlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: 0.3s;
        background-color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
      }

      &:hover .ovarlay {
        opacity: 1;
      }

      &:hover img {
        filter: grayscale(0);
        transform: scale(1.8);
      }

      &:hover .box-text {
        left: 50%;
        opacity: 1;
      }

      img {
        width: 100%;
        cursor: pointer;
        background-position: center;
        transform: scale(1.5);
        filter: grayscale(100);
        transition: 0.3s;
      }

      .box-text {
        position: absolute;
        color: #fff;
        left: 45%;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        user-select: none;
        cursor: pointer;
        transition: 0.3s;

        h1 {
          font-size: 24px;
          font-weight: bold;
          letter-spacing: -1px;
          text-align: center;
        }
        p {
          font-size: 18px;
        }
      }
    }
  }
}

#about {
  .about-top {
    margin-top: 9rem;
    .left {
      width: 40%;
      h1 {
        font-size: 48px;
        font-weight: bold;
        color: #1b1b1b;
      }

      p {
        font-size: 18px;
        color: #e9204f;
        margin-top: 20px;
      }
    }

    .right {
      width: 60%;
      p {
        color: #747474;
        font-size: 17px;
        font-weight: lighter;
      }
    }
  }

  .about-middle {
    justify-content: space-between;

    .box {
      position: relative;
      cursor: pointer;

      &:hover img {
        filter: grayscale(0);
      }

      .box-text {
        position: absolute;
        left: 30px;
        bottom: 30px;
        user-select: none;
        h1 {
          font-size: 20px;
          font-weight: bold;
          color: #fff;
        }

        p {
          font-size: 17px;
          color: #fff;
        }
      }
    }

    img {
      width: 100%;
      margin: 1.5rem 0;
      filter: grayscale(100);
      transition: 0.3s;
    }
  }

  .about-bottom {
    position: relative;
    h1 {
      font-size: 22px;
      color: #1b1b1b;
      font-weight: bold;
      margin: 3rem 5rem 0 0;
    }

    p {
      font-size: 17px;
      color: #747474;
      margin: 3rem 4rem 0 0;
    }
    &::after {
      content: "";
      position: absolute;
      height: 50px;
      width: 2px;
      background-color: #e9204f;
      left: 50%;
      bottom: -140px;
    }
  }
}

#client {
  margin-top: 18rem;
  z-index: -1;

  hr {
    margin-top: 5rem;
  }
  .left {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-color: #e9204f;
      height: 100px;
      width: 100px;
      bottom: -25px;
      right: -25px;
      z-index: -1;
    }

    img {
      width: 100%;
    }
  }

  .right {
    margin-left: 3rem;

    h1 {
      font-size: 50px;
      font-weight: bold;
      color: #1b1b1b;
      margin-top: 40px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 45px;
        height: 2px;
        background-color: #e9204f;
        top: -30px;
        left: 0;
      }
    }

    h2 {
      font-size: 18px;
      color: #e9204f;
      margin-top: 20px;
    }

    p {
      font-size: 24px;
      color: #747474;
      margin-top: 5rem;
    }

    h3 {
      font-size: 17px;
      color: #1b1b1b;
      font-weight: bold;
      margin-top: 7rem;
      letter-spacing: -1px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 50px;
        height: 2px;
        background-color: #7474748a;
        top: -30px;
        left: 0;
      }
    }
  }
}

#brand {
  .brand-img {
    position: relative;
    img {
      margin-left: 5rem;
    }

    &::after {
      content: "";
      position: absolute;
      height: 50px;
      width: 2px;
      background-color: #e9204f;
      left: 50%;
      bottom: -140px;
    }
  }
}

#blog {
  overflow: hidden;
  margin-top: 14rem;
  .blog-top {
    text-align: center;
    h1 {
      font-size: 48px;
      font-weight: bold;
      color: #1b1b1b;
    }

    p {
      color: #e9204f;
      font-size: 18px;
      margin-top: 2rem;
    }
  }

  .blog-bottom {
    margin-top: 2rem;
    position: relative;

    .box {
      overflow: hidden;
      height: 500px;
      position: relative;
      transition: 0.5s;
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        position: absolute;
        left: 50%;
        bottom: 5px;
        color: rgba(255, 255, 255, 0.486);
        opacity: 0;
        transition: 0.5s;
      }

      .ovarlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 1;
        transition: 0.3s;
        background-color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
      }

      &:hover img {
        filter: grayscale(0);
        transform: scale(1.2);
      }

      &:hover i {
        opacity: 1;
        transform: translateY(-15px);
      }

      &:hover h1 {
        transform: translateY(-15px);
      }
      &:hover p {
        transform: translateY(-15px);
      }

      img {
        width: 120%;
        height: 100%;

        filter: grayscale(100);
        transition: 0.5s;
      }

      .box-text {
        text-align: center;
        position: absolute;
        left: 50%;
        bottom: 10px;
        transform: translate(-50%);
        width: 100%;
        margin-bottom: 16px;
        transition: 0.5s;

        color: #fff;
        h1 {
          font-size: 16px;
          font-weight: bold;
          margin-top: 1rem;
          transition: 0.5s;
        }
        p {
          font-size: 24px;
          font-weight: bold;
          transition: 0.5s;
        }
      }
    }
  }
}

#contact {
  background-color: #1b1b1b;
  margin-top: 10rem;

  .contact-top {
    padding: 6rem 0;
    text-align: center;
    .all{
      justify-content: center;
      align-items: center;
    }
    
    .contact-text {
      
      h1 {
        color: #fff;
        font-size: 48px;
        font-weight: bold;
      }
    }
    .button {
      
      a {
        color: #fff;
        font-size: 17px;
        text-align: center;
        border: 3px solid #e9204f;
        padding: 18px 50px;
        position: relative;
        z-index: 1;
        
        &::after{
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background-color: #e9204f;
          transform: scaleX(0);
          transform-origin: 0 0;
          transition: .3s;
          z-index: -1;
        }

        &:hover::after{
          transform: scaleX(1);
          
        }
      }

     
    }
  }
  .icons {
   
    a {
      margin-left: 1rem;
      border: 3px solid #e9204f;
      padding: 10px 10px;
      border-radius: 50%;
      color: #fff;
      font-size: 24px;
      i {
        width: 33px;
      }
    }
  }
}

#contact-bottom {
  background-color: #161616;
  padding: 30px 0;
  text-align: center;
  .left{
    text-align: center;

    &:hover h1{
      color: #e9204f;
    }
    &:hover a{
      color: #e9204f;
    }
  }
    
  
  .right{
    
    text-align: center;
    &:hover h1{
      color: #e9204f;
    }
    &:hover a{
      color: #e9204f;
    }
  }
   
 
  h1{
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: .3s;

  }
  a{
    color: white;
    transition: .3s;
  }
}

footer{
  background-color: #000;
  padding: 20px 0;
  text-align: center;
  a{
    color: rgba(255, 255, 255, 0.548);
    margin-left: 15px;
    font-size: 15px;
    position: relative;
    transition: .5s;

    &::after{
      content: "";
      position: absolute;
      width: 70px;
      height: 2px;
      background-color: #e9204f;
      bottom: -3px;
      left: 0;
      transform: scaleX(0);
      transition: .5s;
      transform-origin: 0 0;
    }
      &:hover{
        color: #e9204f;
      }
      &:hover::after{
        transform: scaleX(1);
      }
  }
}